GrupoRicaProdDF/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "GrupoRicaProdDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/STG_DIM_TIPO_PRODUCTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_DIM_TIPO_PRODUCTO",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT DISTINCT\n\t\t SUBSTR(A.PRODH,2,11) AS COD_TP_PROD,\n\t\t UPPER(A.VTEXT) AS NOM_TP_PROD\n\tFROM \"SAPHANADB\".\"T179T\" A\n\tWHERE A.MANDT= '400' AND A.SPRAS= 'S' AND LENGTH(SUBSTR(A.PRODH,2,11)) = 2 AND LEFT(A.PRODH,1) = 'M'\n\tORDER BY SUBSTR(A.PRODH,2,11)",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_DIM_TIPO_PRODUCTO]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_TP_PROD",
											"type": "String"
										},
										"sink": {
											"name": "CD_TIPO_PRODUCTO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NOM_TP_PROD",
											"type": "String"
										},
										"sink": {
											"name": "NM_TIPO_PRODUCTO",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_STG_DIM_TIPO_PRODUCTO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/DIM"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:15:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_DIM_ZONA_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_DIM_ZONA_VENTA",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT \n\tA.VKGRP AS CD_ZONA,\n\tUPPER(A.BEZEI) AS NOM_ZONA\nFROM \"SAPHANADB\".\"TVGRT\" A\nWHERE A.MANDT= '400' AND A.SPRAS= 'S' \nORDER BY A.VKGRP",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_DIM_ZONA_VENTA]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_ZONA",
											"type": "String"
										},
										"sink": {
											"name": "CD_ZONA_VENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NOM_ZONA",
											"type": "String"
										},
										"sink": {
											"name": "NM_ZONA_VENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_STG_DIM_ZONA_VENTA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/DIM"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:15:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_DESPACHO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXTRACT DATA FACT DESPACHO",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set variable Fecha Inicial",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable Fecha_Final",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable Fecha_Final_Costo",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable Fecha Inicial Costo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": {
									"value": "SELECT \n\tA.ERDAT AS FECHA_DESPACHO,\n\tLEFT(A.ERDAT,6) AS CD_PERIODO_DESPACHO,   \n    min(C.VBELV) AS CD_ORDEN_VENTAS,\n\tA.VBELN AS CD_DESPACHO_VENTA,\n\tB.POSNR AS POS_NUM,\n\tA.VKORG AS CD_ORG,\n\tE.VKGRP AS CD_ZONA,\n\tE.GERENCIA AS CD_GERENCIA_VENTA,\n\tE.RUTA AS CD_RUTA,\n\tA.KUNNR AS CD_CLIENTE,\n\tA.WAERK AS CD_MONEDA,\n\tB.MATNR AS PRODUCTO,\n    B.WERKS AS CD_CENTRO_DISTRIBICION,\n\t0.00 AS MONTO_BONIFICACION,\n\t0.00 AS NETWR,\n\tB.VTWEG AS CD_CANAL_DISTRIBUCION,\n\tB.LGMNG AS CANT_ITEMS,  \n\t0.00 AS MONTO_NETO,\n\t0.00 AS TOTAL_IMPUESTO,\n\t0.00 AS TOTAL_DESC_ORG,\n\tE.CONVERSION_MONEDA AS TASA_REF_MON,\n\tD.KUNNR_SUP AS CD_VENDEDOR_SUP,\n\tA.spe_loekz AS INDICADOR_BORRADO \n FROM SAPHANADB.LIKP A \n\tLEFT JOIN  SAPHANADB.LIPS  B ON\n\t\t\tB.MANDT = A.MANDT AND\n\t\t\tB.VBELN = A.VBELN  \n\tLEFT JOIN  SAPHANADB.VBFA  C ON\n\t\t\tB.VBELN = C.VBELN AND\n\t\t\tB.POSNR = C.POSNN\n\tLEFT JOIN (SELECT E.VGBEL, E.GERENCIA, E.FACT_ANULADA, E.RUTA, E.ORGANIZACION, \n\t\t\t\t\t  E.VKGRP, AVG(E.CONVERSION_MONEDA) as CONVERSION_MONEDA \n\t\t\t\tFROM SAPHANADB.ZCDS_SD_INVOICE E \n\t\t\t\tGROUP BY E.VGBEL, E.GERENCIA, E.FACT_ANULADA, E.RUTA, E.ORGANIZACION, E.VKGRP ) E ON\n\t\t\tB.VBELN = E.VGBEL \n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA D ON\n\t\t\tD.BZIRK = A.ROUTE AND\n\t\t\tD.MANDT = A.MANDT AND\n\t\t\tD.VKORG = A.VKORG \t\nWHERE A.MANDT = '400' AND A.ERDAT BETWEEN  @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}\n\t\tand C.VBTYP_N = 'J' AND E.FACT_ANULADA <> 'X'   \ngroup by A.ERDAT , LEFT(A.ERDAT,6) , A.VBELN ,B.POSNR ,A.VKORG ,E.VKGRP ,\n\tE.GERENCIA,E.RUTA ,A.KUNNR ,A.WAERK ,B.MATNR ,B.WERKS ,B.VTWEG ,\n\tB.LGMNG ,  E.CONVERSION_MONEDA ,D.KUNNR_SUP, A.spe_loekz \nORDER BY B.MATNR , B.WERKS ,LEFT(A.ERDAT,6) ",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_DESPACHO_VENTA_ALL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHA_DESPACHO",
											"type": "String"
										},
										"sink": {
											"name": "FECHA_DESPACHO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_PERIODO_DESPACHO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PERIODO_DESPACHO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ORDEN_VENTAS",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORDEN_VENTAS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_DESPACHO_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_DESPACHO_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "POS_NUM",
											"type": "String"
										},
										"sink": {
											"name": "POS_NUM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ORG",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ZONA",
											"type": "String"
										},
										"sink": {
											"name": "CD_ZONA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_RUTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_MONEDA",
											"type": "String"
										},
										"sink": {
											"name": "CD_MONEDA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRODUCTO",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CENTRO_DISTRIBICION",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_DISTRIBICION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONTO_BONIFICACION",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_BONIFICACION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 2
										}
									},
									{
										"source": {
											"name": "NETWR",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETWR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 2
										}
									},
									{
										"source": {
											"name": "CD_CANAL_DISTRIBUCION",
											"type": "String"
										},
										"sink": {
											"name": "CD_CANAL_DISTRIBUCION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CANT_ITEMS",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANT_ITEMS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "MONTO_NETO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_NETO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 2
										}
									},
									{
										"source": {
											"name": "TOTAL_IMPUESTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTAL_IMPUESTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 2
										}
									},
									{
										"source": {
											"name": "TOTAL_DESC_ORG",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTAL_DESC_ORG",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 2
										}
									},
									{
										"source": {
											"name": "TASA_REF_MON",
											"type": "Decimal"
										},
										"sink": {
											"name": "TASA_REF_MON",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 9
										}
									},
									{
										"source": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDICADOR_BORRADO",
											"type": "String"
										},
										"sink": {
											"name": "INDICADOR_BORRADO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_FACT_DESPACHO_VENTA_ALL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Busca Fechas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "  SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\n      ,cast(FORMAT(DATEADD(MM,-1, FC_INI_CARGA) ,'yyyyMMdd') as INT) as FECHA_INICIAL_COSTO\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL_COSTO\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_DESPACHO_VENTA'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "MTD_MD_CONTROL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable Fecha Inicial",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Ini",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Fecha_Final",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Fin",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CARGAR STG FACT DESPACHO VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "EXTRACT DATA COSTO DESPACHO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_DESPACHO_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "EXTRACT DATA COSTO DESPACHO",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EXTRACT DATA FACT DESPACHO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": {
									"value": "SELECT DISTINCT \n       A.matnr AS material,\n      A.bwkey AS centro,\n       CONCAT(A.lfgja, A.lfmon) AS periodo,\n       A.vprsv AS control,\n       CASE A.vprsv\n         WHEN 'V' THEN A.verpr / A.peinh\n         WHEN 'S' THEN A.stprs / A.peinh\n       END   AS costo\n\t   ,C.TASA_CAMBIARIA\nFROM   SAPHANADB.mbewh A\nLEFT JOIN (SELECT \n\tLEFT(cast((99999999 - GDATU) as varchar(8)),6)  AS CD_PERIODO,\n\tAVG(UKURS) AS TASA_CAMBIARIA\nFROM SAPHANADB.TCURR A\nWHERE A.MANDT= '400'  AND FCURR = 'USD'\nGROUP BY LEFT(cast((99999999 - GDATU) as varchar(8)),6)  \n) C on C.CD_PERIODO =  CONCAT(A.lfgja, A.lfmon) \nWHERE  CONCAT(A.lfgja, A.lfmon) BETWEEN LEFT('@{variables('Fecha_Ini_Costo')}',6)  AND LEFT('@{variables('Fecha_Fin_Costo')}',6) \nORDER BY A.matnr, A.bwkey, CONCAT(A.lfgja, A.lfmon) ",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_REF_COSTO_DESPACHO]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CENTRO",
											"type": "String"
										},
										"sink": {
											"name": "CENTRO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PERIODO",
											"type": "String"
										},
										"sink": {
											"name": "PERIODO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CONTROL",
											"type": "String"
										},
										"sink": {
											"name": "CONTROL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COSTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "COSTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 17
										}
									},
									{
										"source": {
											"name": "TASA_CAMBIARIA",
											"type": "Decimal"
										},
										"sink": {
											"name": "TASA_CAMBIARIA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 9
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_REF_COSTO_DESPACHO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set variable Fecha Inicial Costo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Ini_Costo",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL_COSTO",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Fecha_Final_Costo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Fin_Costo",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Fecha_Ini": {
						"type": "Integer"
					},
					"Fecha_Fin": {
						"type": "Integer"
					},
					"Fecha_Ini_Costo": {
						"type": "Integer"
					},
					"Fecha_Fin_Costo": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "STG/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:14:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_ORDENES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXTRACT DATA FACT ORDENES",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set variable Fecha Inicial",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable Fecha_Final",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": {
									"value": "SELECT DISTINCT\n\tA.VBELN AS CD_ORDEN_VENTA,\n\tA.POSNR AS CD_ORDEN_VENTA_DETALLE,\n\tB.ERDAT AS FECHA_ORDEN_VENTA,\n\tB.VDATU AS FECHA_ENTREGA,\t\n\tA.VKORG_ANA AS CD_ORG,\n\tCASE WHEN E.AUBEL IS NULL THEN CASE WHEN LENGTH(A.BZIRK_ANA) = 0 then G.GERENCIA else F.GERENCIA end else E.GERENCIA end AS CD_GERENCIA_VENTA,\n\tCASE WHEN E.AUBEL IS NULL THEN A.VKGRP_ANA else E.VKGRP END AS CD_ZONA,\n\tCASE WHEN E.AUBEL IS NULL THEN CASE WHEN LENGTH(A.BZIRK_ANA) = 0 then G.BZIRK else F.BZIRK end else E.RUTA end AS CD_RUTA,\n\tA.VTWEG_ANA AS CD_CANAL_DIST,\n\tB.VKBUR AS CD_CENTRO_DISTRIB,\n\tB.KUNNR AS CD_CLIENTE,\n\tA.WAERK AS CD_MONEDA,\n\tA.STCUR AS MONTO_TASA_CAMBIARIA,\n\tA.MATNR AS CD_PRODUCTO,\n\tA.NETPR AS PRECIO_UNIT,\n\tA.KWMENG AS CANT_ITEMS,\n\tA.VOLUM AS VOLUMEN,\n\t0 AS DESCUENTO,\n\t0 AS MONTO_BONIFICACION,\t\n\tA.MWSBP AS ITBIS,\n\tA.NETWR AS MONTO_NETO,\n\tCASE WHEN E.AUBEL IS NULL THEN CASE WHEN LENGTH(A.BZIRK_ANA) = 0 then G.KUNNR_SUP else F.KUNNR_SUP end else C.KUNNR_SUP end AS CD_VENDEDOR_SUP,\n\tD.LADGR, \n\tA.AUART_ANA, \n\tABSTK, \n\tB.AUART,\n\tJ.MTART,\n    H.PARVW\t\nFROM  SAPHANADB.VBAP A\n\tINNER JOIN SAPHANADB.VBAK B ON \n\t\tB.MANDT = A.MANDT AND \n\t\tB.VBELN = A.VBELN \n\tLEFT JOIN (SELECT E.AUBEL, E.GERENCIA, E.FACT_ANULADA, E.RUTA, E.ORGANIZACION, E.VKGRP, AVG(E.CONVERSION_MONEDA) as CONVERSION_MONEDA FROM SAPHANADB.ZCDS_SD_INVOICE E \n\t\t\t\tGROUP BY E.AUBEL, E.GERENCIA, E.FACT_ANULADA, E.RUTA, E.ORGANIZACION, E.VKGRP ) E ON\n\t\tB.VBELN = E.AUBEL \n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA C ON\n\t\tC.MANDT = A.MANDT AND\n\t\tC.VKORG = A.VKORG_ANA AND\n\t\tC.BZIRK = E.RUTA \t    \n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA F ON\n\t\tF.MANDT = A.MANDT AND\n\t\tF.VKORG = A.VKORG_ANA AND\n\t\tF.BZIRK = A.BZIRK_ANA \t\t\n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA G ON\t\n\t\tG.MANDT = A.MANDT AND\n\t\tG.VKORG = A.VKORG_ANA AND\n\t\tG.BZIRK = A.ROUTE \t\n\tLEFT JOIN SAPHANADB.MARC D ON\n\t\tD.MANDT = A.MANDT AND\n\t\tD.WERKS = A.WERKS AND\n\t\tD.MATNR = A.MATNR\t  \n\tLEFT JOIN (SELECT MANDT, VBELN, PARVW FROM SAPHANADB.VBPA WHERE vbpa.parvw = 'WE') H ON \n\t\tH.MANDT = B.MANDT AND\n\t\tH.VBELN = B.VBELN\n\tLEFT JOIN SAPHANADB.MARA J ON \n\t\tJ.MATNR = A.MATNR AND \n\t\tJ.MANDT = A.MANDT\nWHERE \n\tA.MANDT = '400'  AND \n\tLENGTH(A.MATNR) > 0 AND \n\tA.KUNNR_ANA <> A.ROUTE AND \n (( B.ERDAT BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')})  or ( B.VDATU BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}))",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_ORDEN_VENTA_ALL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_ORDEN_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORDEN_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ORDEN_VENTA_DETALLE",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORDEN_VENTA_DETALLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FECHA_ORDEN_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "FECHA_ORDEN_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FECHA_ENTREGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHA_ENTREGA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ORG",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ZONA",
											"type": "String"
										},
										"sink": {
											"name": "CD_ZONA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_RUTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CANAL_DIST",
											"type": "String"
										},
										"sink": {
											"name": "CD_CANAL_DIST",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CENTRO_DISTRIB",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_DISTRIB",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_MONEDA",
											"type": "String"
										},
										"sink": {
											"name": "CD_MONEDA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONTO_TASA_CAMBIARIA",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_TASA_CAMBIARIA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 9
										}
									},
									{
										"source": {
											"name": "CD_PRODUCTO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PRODUCTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRECIO_UNIT",
											"type": "Decimal"
										},
										"sink": {
											"name": "PRECIO_UNIT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 11
										}
									},
									{
										"source": {
											"name": "CANT_ITEMS",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANT_ITEMS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "VOLUMEN",
											"type": "Decimal"
										},
										"sink": {
											"name": "VOLUMEN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "DESCUENTO",
											"type": "Int32"
										},
										"sink": {
											"name": "DESCUENTO",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MONTO_BONIFICACION",
											"type": "Int32"
										},
										"sink": {
											"name": "MONTO_BONIFICACION",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ITBIS",
											"type": "Decimal"
										},
										"sink": {
											"name": "ITBIS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "MONTO_NETO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_NETO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LADGR",
											"type": "String"
										},
										"sink": {
											"name": "LADGR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AUART_ANA",
											"type": "String"
										},
										"sink": {
											"name": "AUART_ANA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ABSTK",
											"type": "String"
										},
										"sink": {
											"name": "ABSTK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AUART",
											"type": "String"
										},
										"sink": {
											"name": "AUART",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MTART",
											"type": "String"
										},
										"sink": {
											"name": "MTART",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PARVW",
											"type": "String"
										},
										"sink": {
											"name": "PARVW",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_FACT_ORDEN_VENTA_ALL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Busca Fechas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_ORDEN_VENTA'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "MTD_MD_CONTROL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable Fecha Inicial",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Ini",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Fecha_Final",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Fin",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CARGAR STG FACT ORDEN VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "EXTRACT DATA FACT ORDENES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_ORDEN_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Fecha_Ini": {
						"type": "Integer"
					},
					"Fecha_Fin": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "STG/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-20T23:44:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_SUGERIDO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXTRACT DATA FACT SUGERIDO",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set variable Fecha Inicial",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable Fecha_Final",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": {
									"value": "SELECT\n\tA.ID_DOC AS CD_SUGERIDO_VENTA,\n\tB.POS AS CD_SUGERIDO_DETALLE_VENTA, \n\tA.FECHA_DOC AS FECHA_SUGERIDO_VENTA,\n\tA.BUKRS AS CD_ORGANIZACION,\n\tA.WERKS AS CD_CENTRO_DISTRIBUCION,\n\tA.ROTCODE AS CD_RUTA,\n\tA.ID_VENDEDOR AS CD_VENDEDOR,\n\tA.MONEDA AS MONEDA,\n\tB.ID_MATERIAL AS CD_PRODUCTO,\n\tB.CANTIDAD_MODIFICADA AS CANTIDAD_ITEMS,\n\tB.MONTO_PRECIO AS PRECIO_UNITARIO,\n\tB.MONTO_SUBTOTAL AS MONTO_BRUTO,\n\tB.MONTO_DESCUENTO AS DESCUENTO,\n\tB.MONTO_ITBIS AS ITBIS,\n\tB.MONTO_TOTAL AS MONTO_NETO,\n\tC.VTWEG AS CD_CANAL,\n\tC.KUNNR_SUP AS CD_VENDEDOR_SUP,\n\tC.VKGRP AS CD_ZONA_VENTA\nFROM  SAPHANADB.ZSD_LIQ_INF_FA_K A\n\t  JOIN SAPHANADB.ZSD_LIQ_INF_FA_P B ON\n\t\t  B.ID_DOC = A.ID_DOC AND\n\t\t  B.MANDT  = A.MANDT\n\t  JOIN SAPHANADB.ZSDCO_PARA_RUTA C ON\n\t\t  C.BZIRK = A.ROTCODE AND\n\t\t  C.MANDT  = A.MANDT AND\n\t  C.VKORG = A.BUKRS\t  \nWHERE A.MANDT='400' AND A.FECHA_DOC BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}\nORDER BY A.FECHA_DOC, A.ID_DOC, B.POS ",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_SUGERIDO_ALL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_SUGERIDO_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_SUGERIDO_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_SUGERIDO_DETALLE_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_SUGERIDO_DETALLE_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FECHA_SUGERIDO_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "FECHA_SUGERIDO_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ORGANIZACION",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORGANIZACION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CENTRO_DISTRIBUCION",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_DISTRIBUCION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_RUTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_VENDEDOR",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONEDA",
											"type": "String"
										},
										"sink": {
											"name": "MONEDA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_PRODUCTO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PRODUCTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CANTIDAD_ITEMS",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANTIDAD_ITEMS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "PRECIO_UNITARIO",
											"type": "Decimal"
										},
										"sink": {
											"name": "PRECIO_UNITARIO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "MONTO_BRUTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_BRUTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "DESCUENTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "DESCUENTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "ITBIS",
											"type": "Decimal"
										},
										"sink": {
											"name": "ITBIS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "MONTO_NETO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_NETO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "CD_CANAL",
											"type": "String"
										},
										"sink": {
											"name": "CD_CANAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ZONA_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_ZONA_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_FACT_SUGERIDO_ALL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Busca Fechas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_SUGERIDO_VENTA_RANCHERA'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "MTD_MD_CONTROL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable Fecha Inicial",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Ini",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Fecha_Final",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Fin",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CARGAR STG FACT SUGERIDO",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "EXTRACT DATA FACT SUGERIDO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_SUGERIDO_VTA_RANCH.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Fecha_Ini": {
						"type": "Integer"
					},
					"Fecha_Fin": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "STG/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:14:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXTRACT DATA FACT VENTA",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable Fecha Inicial",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable Fecha_Final",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": {
									"value": "SELECT DISTINCT\n\tA.NO_FACTURA AS CD_FACT,\n\tB.VBELN AS CD_DESPACHO,\n\tA.FECHA AS FECHA_VENTA,\n\tA.AUBEL AS ORDEN_VENTAS,\n\tA.POSNR AS CD_DETALLE_FACTURA,\n\tA.LITROS AS VOLUMEN,\n\tA.CLIENTE AS CLIENTE,\n\tA.ORGANIZACION AS ORGANIZACION,\n\tA.GERENCIA AS CD_GERENCIA_VENTA,\n\tA.VKGRP AS ZONA,\n\tCASE WHEN LENGTH(A.RUTA)=0 \n\t\t THEN A.RUTA_ENTREGA \n\t\t ELSE A.RUTA \n\t END AS RUTA,\n\tC.EMP_RESP AS CD_VENDEDOR,\n\tC.EMP_ASIST AS CD_ASISTENTE,\n\tA.CANAL AS CD_CANAL,\n\tA.RAMO AS CD_TIPO_CLIENTE,\n\tA.REGION AS CD_REGION_VENTAS,\n\tA.MONEDA,\n\tA.CENTRO,\n\tA.CONVERSION_MONEDA AS MONTO_TASA_CAMBIARIA,\n\tMATERIAL AS PRODUCTO,\n\tA.UNIDADES AS CANTIDAD_ITEMS,\n\tA.DESCUENTO AS DESCUENTO,\n\tA.NETWR,\n\tA.ITBIS AS ITBIS,\n\tA.PESOS AS MONTO_NETO,\n\tA.VALOR_BRUTO AS MONTO_BRUTO,\n\tCOSTO_BONIFIC AS MONTO_BONIFICACION,\n\tD.KUNNR_SUP AS CD_VENDEDOR_SUP, \t\n\tA.VGBEL as VGBEL,  \n\tA.MTART, \n\tA.CLASE_FACTURA,  \n\tH.PARVW,\n    G.AUART\t\nFROM SAPHANADB.ZCDS_SD_INVOICE A\n\tLEFT JOIN SAPHANADB.LIPS B ON \n\t\tB.VBELN = A.VGBEL AND\n\t\tB.MANDT = A.MANDT AND\n\t\tB.MATNR = A.MATERIAL\n\tLEFT JOIN SAPHANADB.ZSD_LIQ_INF_GRAL C  ON\n\t\tC.ROUTE = A.RUTA AND\n\t\tC.MANDT = A.MANDT  AND\n\t\tC.FECH_LIQ = A.FECHA\t\n    LEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA D ON\n\t\t  D.MANDT = A.MANDT AND\n\t\t  D.VKORG = A.ORGANIZACION\t AND\n\t\t  D.BZIRK = CASE WHEN LENGTH(RUTA)=0 THEN RUTA_ENTREGA ELSE RUTA END\t\t\n    LEFT JOIN SAPHANADB.VBAK G on\n\t\tG.MANDT = A.MANDT AND \n\t\tG.VBELN = A.AUBEL \n    LEFT JOIN (SELECT MANDT, VBELN, PARVW from SAPHANADB.VBPA WHERE PARVW = 'WE') H ON \n\t     A.AUBEL = H.VBELN AND\n\t\t A.MANDT = H.MANDT \n    WHERE A.MANDT='400' AND A.FACT_ANULADA <> 'X' \n\t  AND A.UEPOS  = '000000' AND  A.FECHA BETWEEN  @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}  ",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_VENTA_ALL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_FACT",
											"type": "String"
										},
										"sink": {
											"name": "CD_FACT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_DESPACHO",
											"type": "String"
										},
										"sink": {
											"name": "CD_DESPACHO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FECHA_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "FECHA_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORDEN_VENTAS",
											"type": "String"
										},
										"sink": {
											"name": "ORDEN_VENTAS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_DETALLE_FACTURA",
											"type": "String"
										},
										"sink": {
											"name": "CD_DETALLE_FACTURA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VOLUMEN",
											"type": "Decimal"
										},
										"sink": {
											"name": "VOLUMEN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CLIENTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZACION",
											"type": "String"
										},
										"sink": {
											"name": "ORGANIZACION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZONA",
											"type": "String"
										},
										"sink": {
											"name": "ZONA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RUTA",
											"type": "String"
										},
										"sink": {
											"name": "RUTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_VENDEDOR",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_ASISTENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_ASISTENTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_CANAL",
											"type": "String"
										},
										"sink": {
											"name": "CD_CANAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_TIPO_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_TIPO_CLIENTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_REGION_VENTAS",
											"type": "String"
										},
										"sink": {
											"name": "CD_REGION_VENTAS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONEDA",
											"type": "String"
										},
										"sink": {
											"name": "MONEDA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CENTRO",
											"type": "String"
										},
										"sink": {
											"name": "CENTRO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONTO_TASA_CAMBIARIA",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_TASA_CAMBIARIA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 9
										}
									},
									{
										"source": {
											"name": "PRODUCTO",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CANTIDAD_ITEMS",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANTIDAD_ITEMS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "DESCUENTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "DESCUENTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "NETWR",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETWR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ITBIS",
											"type": "Decimal"
										},
										"sink": {
											"name": "ITBIS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "MONTO_NETO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_NETO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "MONTO_BRUTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_BRUTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "MONTO_BONIFICACION",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_BONIFICACION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 13
										}
									},
									{
										"source": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR_SUP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VGBEL",
											"type": "String"
										},
										"sink": {
											"name": "VGBEL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MTART",
											"type": "String"
										},
										"sink": {
											"name": "MTART",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CLASE_FACTURA",
											"type": "String"
										},
										"sink": {
											"name": "CLASE_FACTURA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PARVW",
											"type": "String"
										},
										"sink": {
											"name": "PARVW",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AUART",
											"type": "String"
										},
										"sink": {
											"name": "AUART",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_FACT_VENTA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Busca Fechas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_VENTA'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "MTD_MD_CONTROL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable Fecha Inicial",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Ini",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Fecha_Final",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Busca Fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha_Fin",
							"value": {
								"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CARGAR STG FACT DESPACHO VENTA",
						"type": "ExecuteSSISPackage",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "EXTRACT DATA DECOMISOS Y DEVOLUCIONES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_DESPACHO_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "EXTRACT DATA DECOMISOS Y DEVOLUCIONES",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EXTRACT DATA FACT VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": {
									"value": "SELECT  a.id_gestion AS CD_FACTURA, \n    b.liqlote         AS CD_FACTURA_DETALLE,\n    c.route           AS CD_RUTA,\n    b.matnr           AS CD_PRODUCTO, \n    b.liqtipo         AS CD_TIPO_DOC,\n    b.liqcantidad     AS CANTIDAD_LIQ,\n    a.liqfecha_i      AS FECHA_LIQ\n  FROM SAPHANADB.zsd_liqprod_cab AS a\n  INNER JOIN SAPHANADB.zsd_liqprod_desg AS b ON \n\t\tb.idrecepcion = a.idrecepcion\n  INNER JOIN SAPHANADB.zsd_liq_inf_gral AS c ON \n\t\tc.id_gest_liq = a.id_gestion\n        AND a.werks = c.werks\n  INNER JOIN SAPHANADB.zsd_liqprod_prod AS d ON \n\t\td.id_gestion = a.id_gestion\n        AND d.werks = a.werks\n        AND d.matnr = b.matnr\n WHERE b.liqtipo IN('RET', 'AVE', 'DEC') \n    AND a.liqfecha_i BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')} \nORDER BY a.liqfecha_i, c.route,  a.id_gestion, b.liqlote, b.matnr ",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_DATOS_DECDEV_ALL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_FACTURA",
											"type": "String"
										},
										"sink": {
											"name": "CD_FACTURA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_FACTURA_DETALLE",
											"type": "String"
										},
										"sink": {
											"name": "CD_FACTURA_DETALLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_RUTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_PRODUCTO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PRODUCTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_TIPO_DOC",
											"type": "String"
										},
										"sink": {
											"name": "CD_TIPO_DOC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CANTIDAD_LIQ",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANTIDAD_LIQ",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "FECHA_LIQ",
											"type": "String"
										},
										"sink": {
											"name": "FECHA_LIQ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_DATOS_DECDEV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Fecha_Ini": {
						"type": "Integer"
					},
					"Fecha_Fin": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "STG/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-23T00:23:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_ACUERDO_SERVICIO_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_ACUERDO_SERVICIO_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT DISTINCT\n\tB.KUNNR AS CD_CLIENTE,\n\tA.NAME AS ACUERDO,\n\tA.HIGH AS META_ACUERDO\n FROM \"SAPHANADB\".\"TVARVC\" A\n\t  JOIN \"SAPHANADB\".\"KNA1\" B ON\n\t\tLPAD(A.LOW, 10, '0') = B.KUNNR\n WHERE A.MANDT='400'  AND\n\t\tA.NAME IN ('ZSD_ORDERVSBILL_META_YOGURT','ZSD_ORDERVSBILL_META_UHT','ZSD_ORDERVSBILL_META_FRIOS') \n ORDER BY B.KUNNR",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table gr01.STG_REL_ACUERDO_SERVICIO_CLIENTE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACUERDO",
											"type": "String"
										},
										"sink": {
											"name": "ACUERDO_ORDER_FILL_RATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "META_ACUERDO",
											"type": "String"
										},
										"sink": {
											"name": "VALOR_META_ACUERDO",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_REL_ACUERDO_SERVICIO_CLIENTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:16:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_ATRIBUTOS_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_ATRIBUTOS_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT\t\n            A.KUNNR AS CD_CLIENTE,\n            B.VKORG AS CD_ORGANIZACION,\n            B.VWERK AS CD_CENTRO_DIST,\n            C.IND_SECTOR AS CD_TIPO_CLIENTE,\n            B.VTWEG AS CD_CANAL,\n            B.KVGR2 as CD_REGION_VENTA\n FROM \"SAPHANADB\".\"KNA1\" A\n              LEFT JOIN \"SAPHANADB\".\"KNVV\" B ON \n                                 B.KUNNR = A.KUNNR AND\n                                 B.MANDT = A.MANDT\n\t\t\tLEFT JOIN SAPHANADB.BUT0IS C ON\n\t\t\t\t\tC.CLIENT = A.MANDT AND\n\t\t\t\t\tC.PARTNER = A.KUNNR AND \n                                                                                C.ISTYPE = 'R001'  \t\t\t\t\t \nWHERE A.MANDT='400' AND A.SPRAS= 'S'\n              AND A.LOEVM <> 'X'\n              AND A.KTOKD IN('BPLO','BPIN', 'ZDST', 'ZCPD', 'ZGOB','ZE', 'ZITC')\n\t\t\nORDER BY A.KUNNR",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_CANAL",
											"type": "String"
										},
										"sink": {
											"name": "CD_CANAL_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_TIPO_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_TIPO_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_ORGANIZACION",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORGANIZACION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_CENTRO_DIST",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_REGION_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_REGION_VENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_REL_ATRIBUTOS_CLIENTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:16:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_CARTERA_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_CARTERA_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT DISTINCT\n\tKUNNR AS COD_CLIENTE,\n\tCONDUCTOR1 AS COD_VENDEDOR,\n\tCONDUCTOR2 AS COD_ASISTENTE\n FROM \"SAPHANADB\".\"KNA1\" A\n\t  LEFT JOIN \"SAPHANADB\".\"ZSD_LIQ_INF_TRA\" B ON\n\t\tA.KUNNR = B.NUM_DOC\n WHERE A.MANDT= '400' AND A.SPRAS= 'S'\n\t\tAND A.LOEVM <> 'X' \n              AND A.KTOKD IN('BPLO','BPIN', 'ZDST', 'ZCPD', 'ZGOB','ZE', 'ZITC')\n ORDER BY A.KUNNR",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table gr01.STG_REL_CARTERA_CLIENTE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COD_VENDEDOR",
											"type": "String"
										},
										"sink": {
											"name": "CD_VENDEDOR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COD_ASISTENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_ASISTENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_REL_CARTERA_CLIENTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:16:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_COSTOS_VENTAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_COSTOS_VENTAS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT \n    CONCAT(LEFT(A.ANIO,4), RIGHT(A.MES,2)) AS PERIODO,\n    A.ORGANIZACION,\n    A.CENTRO_COSTOS,\n    A.CENTRO_BENEFICIO,\n    A.MATERIAL,\n    A.DIF_INV,\n    A.COSTO_PROD,\n    A.OTROS_CV,\n    A.DECO_INT,\n    A.DECO_EXTERNO,\n    A.PUBLICIDAD,\n    A.DESCUENT,\n    A.VENTAS\nFROM \"SAPHANADB\".\"ZCDS_COSTOS\" A\nWHERE A.MANDT='400'",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_REL_COSTOS_VENTAS]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PERIODO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PERIODO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZACION",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORGANIZACION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "CD_PRODUCTO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CENTRO_BENEFICIO",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_BENEFICIO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CENTRO_COSTOS",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_COSTO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DESCUENT",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_DESCUENTOS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "DECO_EXTERNO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_DECOMISO_EXTERNO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "DECO_INT",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_DECOMISO_INTERNO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "DIF_INV",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_DIFERENCIA_INVENTARIO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "COSTO_PROD",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_COSTOS_PRODUCCION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "OTROS_CV",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_OTROS_CV",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "PUBLICIDAD",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_PUBLICIDAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "VENTAS",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_VENTAS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_REL_COSTOS_VENTAS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:16:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_CUOTA_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_CUOTA_VENTA",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT \nbzirk as ruta,\t\nvkbur as centro,\t\nperiodo as periodo,\t\nsum(valor) monto_neto\nFROM \"SAPHANADB\".\"ZTCUOTASTD\"\nWHERE MANDT='400'\nGROUP BY bzirk, vkbur, periodo",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table gr01.STG_REL_CUOTA_VENTA",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RUTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERIODO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PERIODO_CUOTA_VENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MONTO_NETO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_NETO_DE_VENTA_CUOTA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_REL_CUOTA_VENTA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:16:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_DIRECCION_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_DIRECCION_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT \n\tKUNNR AS CD_CLIENTE,\n\tUPPER(CONCAT(CONCAT(CONCAT(CONCAT(STRAS,', '), ORT01), ', '), ORT02)) AS DIRECCION,\n\tREGIO AS CD_PROV,\n\tLAND1 AS CD_PAIS\nFROM \"SAPHANADB\".\"KNA1\" A\nWHERE A.MANDT= '400' AND A.SPRAS= 'S'  AND A.LOEVM <> 'X'\n\t   and A.KTOKD IN('BPLO','BPIN', 'ZDST', 'ZCPD', 'ZGOB','ZE', 'ZITC')\nORDER BY LAND1, REGIO, KUNNR",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table gr01.STG_REL_DIRECCION_CLIENTE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_PAIS",
											"type": "String"
										},
										"sink": {
											"name": "CD_PAIS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_PROV",
											"type": "String"
										},
										"sink": {
											"name": "CD_PROVINCIA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DIRECCION",
											"type": "String"
										},
										"sink": {
											"name": "DIRECCIN",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DST_STG_REL_DIRECCION_CLIENTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-18T21:16:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_PRESUPUESTO_VENTA_ALL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_PRESUPUESTO_VENTA_ALL",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT \n    A.RUTA,\n    A.MATNR AS PRODUCTO,\n    A.VKORG AS ORGANIZACION,\n    A.PERIODO,\n       B.GERENCIA,\n    A.PRESUP_UND AS  CANTIDAD_ITEMS_PRESUPUESTO,\n    A.PRESUP_PES AS MONTO_NETO_DE_VENTA_PRESUPUESTO,\n    A.VTWEG AS CD_CANAL_DISTRIBUCION\nFROM SAPHANADB.ZPRESUPUEST_RUTB A\n\nJOIN SAPHANADB.ZSDCO_PARA_RUTA B\nON A.RUTA= B.BZIRK AND\nA.VKORG=B.VKORG\nWHERE A.MANDT = '400'\nORDER BY A.PERIODO",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [gr01].[STG_REL_PRESUPUESTO_VENTA_ALL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RUTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCTO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PRODUCTO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZACION",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORGANIZACION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERIODO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PERIODO_PRESUPUESTO_VENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "GERENCIA",
											"type": "String"
										},
										"sink": {
											"name": "CD_GERENCIA_VENTAS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CD_CANAL_DISTRIBUCION",
											"type": "String"
										},
										"sink": {
											"name": "CD_CANAL_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CANTIDAD_ITEMS_PRESUPUESTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANTIDAD_ITEMS_PRESUPESTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									},
									{
										"source": {
											"name": "MONTO_NETO_DE_VENTA_PRESUPUESTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "MONTO_NETO_DE_VENTA_PRESUPESTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 20
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_REL_PRESUPUESTO_VENTA_ALL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_TASA_CAMBIARIA",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT \n\tFCURR AS CD_MONEDA_EXTRANJERA,\n\tTCURR AS CD_MONEDA_LOCAL,\n\tLEFT(cast((99999999 - GDATU) as varchar(8)),6)  AS CD_PERIODO,\n\tAVG(UKURS) AS TASA_CAMBIARIA\nFROM \"SAPHANADB\".\"TCURR\" A\nWHERE A.MANDT= '400'  AND FCURR = 'USD'\nGROUP BY TCURR, FCURR, LEFT(cast((99999999 - GDATU) as varchar(8)),6)  \nORDER BY 3",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE gr01.STG_TASA_CAMBIO_ALL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_MONEDA_EXTRANJERA",
											"type": "String"
										},
										"sink": {
											"name": "CD_MONEDA_EXTRANJERA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_MONEDA_LOCAL",
											"type": "String"
										},
										"sink": {
											"name": "CD_MONEDA_LOCAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CD_PERIODO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PERIODO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TASA_CAMBIARIA",
											"type": "Decimal"
										},
										"sink": {
											"name": "TASA_CAMBIARIA",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_REL_RUTA_ENTREGA_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_RUTA_ENTREGA_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapHanaSource",
								"query": "SELECT  \nDISTINCT\n    A.KUNNR AS CODIGO_CLIENTE,\n\t B.vkorg as CODIGO_ORGANIZACION,\n\t B.BZIRK as CODIGO_RUTA_DISTRIBUCION,\n     B.vwerk AS CODIGO_CENTRO_DISTRIBUCION,\n\tD.GERENCIA as CODIGO_GERENCIA_VENTA\nFROM \"SAPHANADB\".\"KNA1\" A\n        INNER JOIN \"SAPHANADB\".\"KNVV\" B ON \n\t\t    B.kunnr = A.kunnr and A.MANDT = b.MANDT\n\t\t\tAND B.loevm <> 'X'\n\t    INNER JOIN \"SAPHANADB\".\"ZSDCO_PARA_RUTA\" D ON D.vkorg = B.vkorg\n                       AND D.vtweg = B.vtweg\n                       AND D.werks = B.vwerk\n                       AND D.bzirk = B.bzirk\nWHERE A.LOEVM <> 'X'\nAND A.ktokd <> 'ZRSP' \n\t AND  A.MANDT='400' AND B.MANDT='400' AND D.MANDT='400'\n\t   and A.KTOKD IN('BPLO','BPIN', 'ZDST', 'ZCPD', 'ZGOB','ZE', 'ZITC')",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table gr01.STG_REL_RUTA_ENTREGA_CLIENTE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODIGO_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CODIGO_ORGANIZACION",
											"type": "String"
										},
										"sink": {
											"name": "CD_ORGANIZACION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CODIGO_RUTA_DISTRIBUCION",
											"type": "String"
										},
										"sink": {
											"name": "CD_RUTA_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CODIGO_CENTRO_DISTRIBUCION",
											"type": "String"
										},
										"sink": {
											"name": "CD_CENTRO_DISTRIBUCION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CODIGO_GERENCIA_VENTA",
											"type": "String"
										},
										"sink": {
											"name": "CD_GERENCIA_VENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapHanaTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_STG_REL_RUTA_ENTREGA_CLIENTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T18:36:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_0_0_TDE_RICA_STG_DIM_ALL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_DIM_CANAL_DISTRIBUCION",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_CANAL_DISTRIBUCION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_CENTRO_DISTRIBUCION",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_CANAL_DISTRIBUCION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_CENTRO_DISTRIBUCION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_CENTRO_DISTRIBUCION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_EMPLEADO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_EMPLEADO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_FAMILIA_PRODUCTO",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_FAMILIA_PRODUCTO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_GERENCIA_VENTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_FAMILIA_PRODUCTO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_GERENCIA_VENTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_HOLDING_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_GERENCIA_VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_HOLDING_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_LINEA_PRODUCTO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_HOLDING_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_LINEA_PRODUCTO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_MARCA_PRODUCTO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_ORGANIZACION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_MARCA_PRODUCTO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_MONEDA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_MARCA_PRODUCTO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_MONEDA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_ORGANIZACION",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_ORGANIZACION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_PRODUCTO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_MONEDA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_PRODUCTO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_PROVINCIA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_PROVINCIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_REGION_VENTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_PROVINCIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_REGION_VENTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_RUTA_DISTRIBUCION",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_REGION_VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_RUTA_DISTRIBUCION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_TECNOLOGIA_PRODUCTO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_RUTA_DISTRIBUCION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_TECNOLOGIA_PRODUCTO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_TIPO_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_TIPO_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_TIPO_PRODUCTO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_TIPO_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_TIPO_PRODUCTO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_DIM_ZONA_VENTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_DIM_TIPO_PRODUCTO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_DIM_ZONA_VENTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/DIM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/STG_DIM_TIPO_PRODUCTO')]",
				"[concat(variables('factoryId'), '/pipelines/STG_DIM_ZONA_VENTA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_2_0_TDE_RICA_REL_STG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_REL_ACUERDO_SERVICIO_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_ACUERDO_SERVICIO_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_REL_ATRIBUTOS_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_REL_ACUERDO_SERVICIO_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_ATRIBUTOS_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_REL_CARTERA_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_CARTERA_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_REL_COSTOS_VENTAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_REL_CARTERA_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_COSTOS_VENTAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_REL_CUOTA_VENTA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_CUOTA_VENTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_REL_DIRECCION_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_DIRECCION_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "STG_REL_RUTA_ENTREGA_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_REL_DIRECCION_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_REL_RUTA_ENTREGA_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/REL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/STG_REL_ACUERDO_SERVICIO_CLIENTE')]",
				"[concat(variables('factoryId'), '/pipelines/STG_REL_ATRIBUTOS_CLIENTE')]",
				"[concat(variables('factoryId'), '/pipelines/STG_REL_CARTERA_CLIENTE')]",
				"[concat(variables('factoryId'), '/pipelines/STG_REL_COSTOS_VENTAS')]",
				"[concat(variables('factoryId'), '/pipelines/STG_REL_CUOTA_VENTA')]",
				"[concat(variables('factoryId'), '/pipelines/STG_REL_DIRECCION_CLIENTE')]",
				"[concat(variables('factoryId'), '/pipelines/STG_REL_RUTA_ENTREGA_CLIENTE')]"
			]
		}
	]
}