GrupoRicaProdDF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "GrupoRicaProdDF"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase_DWH_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_DWH_PROD'"
		},
		"AzureSqlDatabase_MTD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_MTD'"
		},
		"AzureSqlDatabase_STG_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_STG_PROD'"
		},
		"GrupoRica_BlobStorage_Prod_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'GrupoRica_BlobStorage_Prod'"
		},
		"GrupoRica_LinkedService_Prod_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'GrupoRica_LinkedService_Prod'"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaProdSTG"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gr_etl_stg"
		},
		"AzureSqlDatabase_DWH_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"AzureSqlDatabase_DWH_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaProdDWH"
		},
		"AzureSqlDatabase_DWH_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gr_etl_dwh"
		},
		"AzureSqlDatabase_MTD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"AzureSqlDatabase_MTD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaProdMTD"
		},
		"AzureSqlDatabase_MTD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gr_etl_mtd"
		},
		"AzureSqlDatabase_STG_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"AzureSqlDatabase_STG_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaProdSTG"
		},
		"AzureSqlDatabase_STG_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gr_etl_stg"
		},
		"GrupoRica_LinkedService_Prod_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\gruporicastorageaccprod.file.core.windows.net\\gruporica-fileshare-prod"
		},
		"GrupoRica_LinkedService_Prod_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Azure\\gruporicastorageaccprod"
		},
		"GrupoRica-IRSSIS-Prod_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"GrupoRica-IRSSIS-Prod_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "gruporicaadmin"
		},
		"GrupoRica-IRSSIS-Prod_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_DWH_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_DWH_PROD_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_DWH_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_DWH_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_DWH_PROD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_MTD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_MTD_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_MTD_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_MTD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_MTD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_STG_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_STG_PROD_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_STG_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_STG_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_STG_PROD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica_BlobStorage_Prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('GrupoRica_BlobStorage_Prod_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica_LinkedService_Prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"host": "[parameters('GrupoRica_LinkedService_Prod_properties_typeProperties_host')]",
					"userId": "[parameters('GrupoRica_LinkedService_Prod_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('GrupoRica_LinkedService_Prod_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica-IRSH-Prod')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica-IRSSIS-Prod')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"nodeSize": "Standard_D8_v3",
						"numberOfNodes": 2,
						"maxParallelExecutionsPerNode": 16
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('GrupoRica-IRSSIS-Prod_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('GrupoRica-IRSSIS-Prod_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('GrupoRica-IRSSIS-Prod_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"dualStandbyPairName": "GrupoRica-IRSSIS-Prod-Failover",
							"catalogPricingTier": "ELASTIC_POOL(name=\"GrupoRicaProd\")"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0_0_0_TDE_RICA_GR00')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "0_0_0_TDE_RICA_GR00",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR00 - COMUN/0_0_0_TDE_RICA_GR00.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-04T06:25:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/0_0_0_TDE_RICA_GR01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "0_0_0_TDE_RICA_GR01",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/0_0_0_TDE_RICA_GR01.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-04T06:26:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_FACT_ORDEN_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DWH_FACT_ORDEN_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_ORDEN_VENTA.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "DWH_FACT_ORDEN_VENTA_DETALLE",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "DWH_FACT_ORDEN_VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_ORDEN_VENTA_DETALLE.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DWH/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T23:12:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_FACT_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DWH_FACT_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "DWH_FACT_VENTA_DETALLE",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "DWH_FACT_VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_VENTA_DETALLE.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DWH/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T22:55:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_ORDEN_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_FACT_ORDEN_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_ORDEN_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T15:40:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_VENTA_SSIS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_FACT_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Prod",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T15:40:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CD_PROVINCIA",
						"type": "varchar"
					},
					{
						"name": "NM_PROVINCIA",
						"type": "varchar"
					},
					{
						"name": "CD_PAIS",
						"type": "varchar"
					},
					{
						"name": "SIGLA_PROVINCIA",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DF_TEST"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_STG_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gr01",
					"table": "STG_FACT_SUGERIDO_ALL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_STG_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEC_DEV_ALL_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_STG_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CD_FACTURA",
						"type": "nvarchar"
					},
					{
						"name": "CD_FACTURA_DETALLE",
						"type": "nvarchar"
					},
					{
						"name": "CD_RUTA",
						"type": "nvarchar"
					},
					{
						"name": "CD_PRODUCTO",
						"type": "nvarchar"
					},
					{
						"name": "CD_TIPO_DOC",
						"type": "nvarchar"
					},
					{
						"name": "CANTIDAD_LIQ",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "FECHA_LIQ",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "gr01",
					"table": "STG_DATOS_DECDEV_ALL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_STG_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DESPACHO_ALL_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_STG_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FECHA_DESPACHO",
						"type": "nvarchar"
					},
					{
						"name": "CD_PERIODO_DESPACHO",
						"type": "nvarchar"
					},
					{
						"name": "CD_ORDEN_VENTAS",
						"type": "nvarchar"
					},
					{
						"name": "CD_DESPACHO_VENTA",
						"type": "nvarchar"
					},
					{
						"name": "POS_NUM",
						"type": "nvarchar"
					},
					{
						"name": "CD_ORG",
						"type": "nvarchar"
					},
					{
						"name": "CD_ZONA",
						"type": "nvarchar"
					},
					{
						"name": "CD_GERENCIA_VENTA",
						"type": "nvarchar"
					},
					{
						"name": "CD_RUTA",
						"type": "nvarchar"
					},
					{
						"name": "CD_CLIENTE",
						"type": "nvarchar"
					},
					{
						"name": "CD_MONEDA",
						"type": "nvarchar"
					},
					{
						"name": "PRODUCTO",
						"type": "nvarchar"
					},
					{
						"name": "CD_CENTRO_DISTRIBICION",
						"type": "nvarchar"
					},
					{
						"name": "MONTO_BONIFICACION",
						"type": "decimal",
						"precision": 2,
						"scale": 2
					},
					{
						"name": "NETWR",
						"type": "decimal",
						"precision": 2,
						"scale": 2
					},
					{
						"name": "CD_CANAL_DISTRIBUCION",
						"type": "nvarchar"
					},
					{
						"name": "CANT_ITEMS",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "MONTO_NETO",
						"type": "decimal",
						"precision": 2,
						"scale": 2
					},
					{
						"name": "TOTAL_IMPUESTO",
						"type": "decimal",
						"precision": 2,
						"scale": 2
					},
					{
						"name": "TOTAL_DESC_ORG",
						"type": "decimal",
						"precision": 2,
						"scale": 2
					},
					{
						"name": "TASA_REF_MON",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "CD_VENDEDOR_SUP",
						"type": "nvarchar"
					},
					{
						"name": "INDICADOR_BORRADO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "gr01",
					"table": "STG_FACT_DESPACHO_VENTA_ALL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_STG_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DST_DATOS_DECDEV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CD_FACTURA",
						"type": "nvarchar"
					},
					{
						"name": "CD_FACTURA_DETALLE",
						"type": "nvarchar"
					},
					{
						"name": "CD_RUTA",
						"type": "nvarchar"
					},
					{
						"name": "CD_PRODUCTO",
						"type": "nvarchar"
					},
					{
						"name": "CD_TIPO_DOC",
						"type": "nvarchar"
					},
					{
						"name": "CANTIDAD_LIQ",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "FECHA_LIQ",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "gr01",
					"table": "STG_DATOS_DECDEV_ALL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DST_DIM_EMPLEADO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CD_EMPLEADO",
						"type": "varchar"
					},
					{
						"name": "NM_EMPLEADO",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gr00",
					"table": "STG_DIM_EMPLEADO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		}
	]
}