GrupoRicaDevDF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "GrupoRicaDevDF"
		},
		"GrupoRica_BlobStorage_Dev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'GrupoRica_BlobStorage_Dev'"
		},
		"GrupoRica_LinkedService_Dev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'GrupoRica_LinkedService_Dev'"
		},
		"ORACLE_SAP67_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ORACLE_SAP67'"
		},
		"SapHana1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SapHana1'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase_DWH_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_DWH_PROD'"
		},
		"AzureSqlDatabase_MTD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_MTD'"
		},
		"AzureSqlDatabase_STG_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_STG_PROD'"
		},
		"AzureSqlDatabase_TT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_TT'"
		},
		"GrupoRica_LinkedService_Dev_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\gruporicastorageaccdev.file.core.windows.net\\gruporica-fileshare-dev"
		},
		"GrupoRica_LinkedService_Dev_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Azure\\gruporicastorageaccdev"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-desarrollo.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaDevSTG"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gruporicaadmin"
		},
		"AzureSqlDatabase_DWH_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"AzureSqlDatabase_DWH_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaProdDWH"
		},
		"AzureSqlDatabase_DWH_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gruporicaadmin"
		},
		"AzureSqlDatabase_MTD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-desarrollo.database.windows.net"
		},
		"AzureSqlDatabase_MTD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaDevMTD"
		},
		"AzureSqlDatabase_MTD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gruporicaadmin"
		},
		"AzureSqlDatabase_STG_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-produccion.database.windows.net"
		},
		"AzureSqlDatabase_STG_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaProdSTG"
		},
		"AzureSqlDatabase_STG_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gruporicaadmin"
		},
		"AzureSqlDatabase_TT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-desarrollo.database.windows.net"
		},
		"AzureSqlDatabase_TT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GrupoRicaDevTT"
		},
		"AzureSqlDatabase_TT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gr_etl_tt"
		},
		"GrupoRica-IRSSIS-Dev_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "gruporica-dwhserver-desarrollo.database.windows.net"
		},
		"GrupoRica-IRSSIS-Dev_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "gruporicaadmin"
		},
		"GrupoRica-IRSSIS-Dev_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica_BlobStorage_Dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('GrupoRica_BlobStorage_Dev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica-IRSH-Dev')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica_LinkedService_Dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"host": "[parameters('GrupoRica_LinkedService_Dev_properties_typeProperties_host')]",
					"userId": "[parameters('GrupoRica_LinkedService_Dev_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('GrupoRica_LinkedService_Dev_password')]"
					}
				},
				"connectVia": {
					"referenceName": "GrupoRica-IRSH-Dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSH-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORACLE_SAP67')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('ORACLE_SAP67_connectionString')]"
				},
				"connectVia": {
					"referenceName": "GrupoRica-IRSH-Dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSH-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapHana1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapHana",
				"typeProperties": {
					"connectionString": "[parameters('SapHana1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "GrupoRica-IRSH-Dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSH-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_SUGERIDO_67')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ORACLE_SAP67",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ORACLE_SAP67')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapHanaTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapHana1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapHanaTable",
				"schema": [],
				"typeProperties": {
					"schema": "SAPHANADB",
					"table": "ZCDS_SD_INVOICE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SapHana1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_DWH_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_DWH_PROD_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_DWH_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_DWH_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_DWH_PROD_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_MTD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_MTD_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_MTD_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_MTD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_MTD_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_STG_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_STG_PROD_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_STG_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_STG_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_STG_PROD_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_TT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_TT_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_TT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_TT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_TT_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GrupoRica-IRSSIS-Dev')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 5
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('GrupoRica-IRSSIS-Dev_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('GrupoRica-IRSSIS-Dev_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('GrupoRica-IRSSIS-Dev_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "ELASTIC_POOL(name=\"GrupoRicaDev\")"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded",
						"dataProxyProperties": {
							"connectVia": {
								"type": "IntegrationRuntimeReference",
								"referenceName": "GrupoRica-IRSH-Dev"
							},
							"stagingLinkedService": {
								"type": "LinkedServiceReference",
								"referenceName": "GrupoRica_BlobStorage_Dev"
							}
						},
						"expressCustomSetupProperties": [
							{
								"type": "CmdkeySetup",
								"typeProperties": {
									"targetName": "gruporicastorageaccdev.blob.core.windows.net",
									"userName": "powerbi",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						],
						"packageStores": [
							{
								"name": "GrupoRica_PackageStore_Dev",
								"packageStoreLinkedService": {
									"referenceName": "GrupoRica_LinkedService_Dev",
									"type": "LinkedServiceReference"
								}
							}
						]
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSH-Dev')]",
				"[concat(variables('factoryId'), '/linkedServices/GrupoRica_BlobStorage_Dev')]",
				"[concat(variables('factoryId'), '/linkedServices/GrupoRica_LinkedService_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/0_0_0_TDE_RICA_GR00')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "0_0_0_TDE_RICA_GR00",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR00 - COMUN/0_0_0_TDE_RICA_GR00.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-04T06:25:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/0_0_0_TDE_RICA_GR01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "0_0_0_TDE_RICA_GR01",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/0_0_0_TDE_RICA_GR01.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-04T06:26:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_FACT_ORDEN_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DWH_FACT_ORDEN_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_ORDEN_VENTA.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "DWH_FACT_ORDEN_VENTA_DETALLE",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "DWH_FACT_ORDEN_VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_ORDEN_VENTA_DETALLE.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DWH/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T23:12:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_FACT_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DWH_FACT_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "DWH_FACT_VENTA_DETALLE",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "DWH_FACT_VENTA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/DWH_FACT_VENTA_DETALLE.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DWH/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T22:55:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_FACT_ORDEN_VENTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_FACT_ORDEN_VENTA",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_ORDEN_VENTAS.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "GrupoRica-IRSSIS-Dev",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "STG/FACT"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T15:40:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/GrupoRica-IRSSIS-Dev')]"
			]
		}
	]
}