pipeline/STG_FACT_VENTA_67.json
{
	"name": "STG_FACT_VENTA_67",
	"properties": {
		"activities": [
			{
				"name": "EXTRACT DATA FACT VENTA 67",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable Fecha Inicial",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Fecha_Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT DISTINCT\n    c.vbeln AS NO_FACTURA,\n    MAX(C.VGBEL) AS CD_DESPACHO,\n    A.fkdat AS fECHA,\n    MAX(C.AUBEL) AS ORDEN_VENTAS,\n    C.POSNR AS CD_DETALLE_FACTURA,\n    A.KUNAG AS CLIENTE,\n    '-1' AS CD_GERENCIA_VENTA,\n    a.BZIRK as zona,\n    '' AS CD_VENDEDOR,\n    '' AS CD_ASISTENTE,\n    C.KVGR1 AS TIPO_CLIENTE,\n    B.KUNNR AS RUTA,\n    C.kvgr2 AS REGION,\n    a.vtweg as canal,\n    C.WERKS AS CENTRO,\n    A.STWAE AS CD_MONEDA,\n    a.kurrf AS TASA_CAMBIARIA,\n    C.MATNR AS MATERIAL,\n    C.VGBEL,\n    I.MTART,\n    a.BZIRK as CD_VENDEDOR_SUP,\n    'C' AS CLASE_FACTURA, \n    B.PARVW,\n    CASE WHEN A.VKORG='8000' THEN 'VIVE' ELSE 'RICA' END AS ORGANIZACION,\n    G.AUART,\n    C.NETWR AS NETWR,\n    C.FKIMG AS UNIDADES,\n    C.FKLMG AS VOLUMEN,\n    C.BRTWR AS MONTO_BRUTO_PESOS,\n    A.MWSBK AS ITBIS,\n    0.00 AS BONIFICACION,\n    C.kzwi6 AS DESCUENTO,\n    CASE when A.VBTYP  IN ('N','O') THEN ((c.NETWR*c.kursk)*-1) ELSE (c.NETWR*c.kursk)  END AS MONTO_NETO_PESOS\nFROM SAPSR3.VBRP C\n    JOIN SAPSR3.VBAK G ON\n        G.VBELN=C.AUBEL AND\n        G.MANDT = C.MANDT\n    JOIN SAPSR3.VBRK A ON\n        a.vbeln=C.vbeln\n    JOIN SAPSR3.VBPA B ON \n        B.VBELN=A.VBELN AND \n        B.PARVW IN ('WE', 'SB', 'RH','RP') AND \n        B.MANDT= C.MANDT\n    JOIN SAPSR3.MARA I ON\n        I.MANDT = C.MANDT AND\n        I.MATNR = C.MATNR and\n        I.mtart IN ('ZPRT','ZMER','ZSER')\nWHERE A.fkdat BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}  and \na.rfbsk='C' AND A.FKTYP <> 'A' AND  C.MANDT='400'\n\nGROUP BY\n    c.vbeln,\n    A.fkdat,\n    C.POSNR,\n    A.KUNAG,\n    a.BZIRK,\n    C.KVGR1,\n    B.KUNNR,\n    C.kvgr2,\n    a.vtweg,\n    C.WERKS,\n    A.STWAE,\n    a.kurrf,\n    C.MATNR,\n    C.VGBEL,\n    I.MTART,\n    a.BZIRK ,\n    B.PARVW,\n    CASE WHEN A.VKORG='8000' THEN 'VIVE' ELSE 'RICA' END,\n    G.AUART,\n    C.FKIMG,\n    C.FKLMG,\n    C.BRTWR,\n    A.MWSBK,\n    C.NETWR,\n    C.kzwi6,\n    CASE when A.VBTYP  IN ('N','O') THEN ((c.NETWR*c.kursk)*-1) ELSE (c.NETWR*c.kursk)  END",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "/*TRUNCATE TABLE [gr01].[STG_FACT_VENTA_ALL] */",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "NO_FACTURA",
									"type": "String"
								},
								"sink": {
									"name": "CD_FACT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_DESPACHO",
									"type": "String"
								},
								"sink": {
									"name": "CD_DESPACHO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FECHA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDEN_VENTAS",
									"type": "String"
								},
								"sink": {
									"name": "ORDEN_VENTAS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_DETALLE_FACTURA",
									"type": "String"
								},
								"sink": {
									"name": "CD_DETALLE_FACTURA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOLUMEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "VOLUMEN",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CLIENTE",
									"type": "String"
								},
								"sink": {
									"name": "CLIENTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORGANIZACION",
									"type": "String"
								},
								"sink": {
									"name": "ORGANIZACION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZONA",
									"type": "String"
								},
								"sink": {
									"name": "ZONA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RUTA",
									"type": "String"
								},
								"sink": {
									"name": "RUTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_VENDEDOR",
									"type": "String"
								},
								"sink": {
									"name": "CD_VENDEDOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ASISTENTE",
									"type": "String"
								},
								"sink": {
									"name": "CD_ASISTENTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CANAL",
									"type": "String"
								},
								"sink": {
									"name": "CD_CANAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TIPO_CLIENTE",
									"type": "String"
								},
								"sink": {
									"name": "CD_TIPO_CLIENTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REGION",
									"type": "String"
								},
								"sink": {
									"name": "CD_REGION_VENTAS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_MONEDA",
									"type": "String"
								},
								"sink": {
									"name": "MONEDA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CENTRO",
									"type": "String"
								},
								"sink": {
									"name": "CENTRO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TASA_CAMBIARIA",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_TASA_CAMBIARIA",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "MATERIAL",
									"type": "String"
								},
								"sink": {
									"name": "PRODUCTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UNIDADES",
									"type": "Decimal"
								},
								"sink": {
									"name": "CANTIDAD_ITEMS",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DESCUENTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "DESCUENTO",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "NETWR",
									"type": "Decimal"
								},
								"sink": {
									"name": "NETWR",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ITBIS",
									"type": "Decimal"
								},
								"sink": {
									"name": "ITBIS",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "MONTO_NETO_PESOS",
									"type": "Double"
								},
								"sink": {
									"name": "MONTO_NETO",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "MONTO_BRUTO_PESOS",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_BRUTO",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "BONIFICACION",
									"type": "Double"
								},
								"sink": {
									"name": "MONTO_BONIFICACION",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CD_VENDEDOR_SUP",
									"type": "String"
								},
								"sink": {
									"name": "CD_VENDEDOR_SUP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VGBEL",
									"type": "String"
								},
								"sink": {
									"name": "VGBEL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MTART",
									"type": "String"
								},
								"sink": {
									"name": "MTART",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CLASE_FACTURA",
									"type": "String"
								},
								"sink": {
									"name": "CLASE_FACTURA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARVW",
									"type": "String"
								},
								"sink": {
									"name": "PARVW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUART",
									"type": "String"
								},
								"sink": {
									"name": "AUART",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "STG_FUENTES_67",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DST_STG_FACT_VENTA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Busca Fechas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_VENTA_67'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MTD_MD_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable Fecha Inicial",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Ini",
					"value": {
						"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Fecha_Final",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Fin",
					"value": {
						"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CARGAR STG FACT DESPACHO VENTA",
				"type": "ExecuteSSISPackage",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "EXTRACT DATA DECOMISOS Y DEVOLUCIONES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_DESPACHO_VENTAS.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "GrupoRica-IRSSIS-Dev",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Basic"
				}
			},
			{
				"name": "EXTRACT DATA DECOMISOS Y DEVOLUCIONES",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "EXTRACT DATA FACT VENTA 67",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT \n\t'DCDV'||'-'||ROUTE||AUDAT AS CD_FACTURA,\n\tCHARG AS CD_DETALLE_FACTURA,\n\tBUKRS AS ORGANIZACION,\n\tWERKS AS CENTRO,\n\tROUTE AS RUTA,\n\tAUDAT AS FECHA,\n\tMATNR AS PRODUCTO,\n\tTYPE AS TIPO_LIQUIDACION,\n\tLFIMG AS CANT_LIQUIDACION\nFROM SAPSR3.ZINT_CONTEO_LOTE\nWHERE TYPE IN('RET', 'AVE', 'DEC') AND\n\t  AUDAT BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}  \nORDER BY AUDAT, ROUTE, MATNR",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "/*TRUNCATE TABLE [gr01].[STG_DATOS_DECDEV_ALL]*/",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CD_FACTURA",
									"type": "String"
								},
								"sink": {
									"name": "CD_FACTURA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_DETALLE_FACTURA",
									"type": "String"
								},
								"sink": {
									"name": "CD_FACTURA_DETALLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RUTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_RUTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRODUCTO",
									"type": "String"
								},
								"sink": {
									"name": "CD_PRODUCTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TIPO_LIQUIDACION",
									"type": "String"
								},
								"sink": {
									"name": "CD_TIPO_DOC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CANT_LIQUIDACION",
									"type": "Decimal"
								},
								"sink": {
									"name": "CANTIDAD_LIQ",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "FECHA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_LIQ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "STG_FUENTES_67",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DST_DATOS_DECDEV",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Fecha_Ini": {
				"type": "Integer"
			},
			"Fecha_Fin": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "STG/FACT"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-23T00:23:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}