pipeline/STG_FACT_SUGERIDO_67.json
{
	"name": "STG_FACT_SUGERIDO_67",
	"properties": {
		"activities": [
			{
				"name": "EXTRACT DATA FACT SUGERIDO",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable Fecha Inicial",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Fecha_Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT \nA.VBELN as CD_SUGERIDO_VENTA,\nA.POSNR AS CD_SUGERIDO_DETALLE_VENTA,\nA.ERDAT AS FECHA_SUGERIDO_VENTA,\nB.KOKRS AS ORGANIZACION,\nA.WERKS AS CENTRO,\nC.BZIRK AS SUPERVISOR,\nA.ROUTE AS RUTA,\nB.WAERK AS MONEDA,\nA.MATNR AS CD_PRODUCTO,\nA.KWMENG AS CANTIDAD_ITEMS,\nA.NETPR AS PRECIO_NETO,\nA.MWSBP AS ITBIS,\nA.NETWR AS MONTO_NETO,\n0 AS DESCUENTO,\nA.MWSBP +A.NETWR AS MONTO_BRUTO,\nB.VTWEG AS CANAL,\nB.VKBUR AS ZONA\n\n\nFROM SAPSR3.VBAP A\n\nJOIN SAPSR3.VBAK B ON\nA.VBELN=B.VBELN\n\nJOIN SAPSR3.KNVV C ON\nB.KUNNR=C.KUNNR\n \nWHERE A.MANDT='400' AND B.AUART='ZCSR'\n\tAND A.ERDAT BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}\n",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_SUGERIDO_67_ALL]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CD_SUGERIDO_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_SUGERIDO_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_SUGERIDO_DETALLE_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_SUGERIDO_DETALLE_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FECHA_SUGERIDO_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_SUGERIDO_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORGANIZACION",
									"type": "String"
								},
								"sink": {
									"name": "ORGANIZACION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CENTRO",
									"type": "String"
								},
								"sink": {
									"name": "CENTRO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPERVISOR",
									"type": "String"
								},
								"sink": {
									"name": "SUPERVISOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RUTA",
									"type": "String"
								},
								"sink": {
									"name": "RUTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MONEDA",
									"type": "String"
								},
								"sink": {
									"name": "MONEDA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_PRODUCTO",
									"type": "String"
								},
								"sink": {
									"name": "CD_PRODUCTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CANTIDAD_ITEMS",
									"type": "Decimal"
								},
								"sink": {
									"name": "CANTIDAD_ITEMS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "PRECIO_NETO",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRECIO_NETO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "ITBIS",
									"type": "Decimal"
								},
								"sink": {
									"name": "ITBIS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "MONTO_NETO",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_NETO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "DESCUENTO",
									"type": "Double"
								},
								"sink": {
									"name": "DESCUENTO",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MONTO_BRUTO",
									"type": "Double"
								},
								"sink": {
									"name": "MONTO_BRUTO",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CANAL",
									"type": "String"
								},
								"sink": {
									"name": "CANAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZONA",
									"type": "String"
								},
								"sink": {
									"name": "ZONA",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "STG_FUENTES_67",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DST_SUGERIDO_67_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Busca Fechas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_SUGERIDO_VENTA_RANCHERA'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MTD_MD_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable Fecha Inicial",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Ini",
					"value": {
						"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Fecha_Final",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Fin",
					"value": {
						"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CARGAR STG FACT SUGERIDO",
				"type": "ExecuteSSISPackage",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "EXTRACT DATA FACT SUGERIDO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_SUGERIDO_VTA_RANCH.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "GrupoRica-IRSSIS-Dev",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Basic"
				}
			}
		],
		"variables": {
			"Fecha_Ini": {
				"type": "Integer"
			},
			"Fecha_Fin": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "STG/FACT"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-18T21:14:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}