pipeline/STG_FACT_ORDENES.json
{
	"name": "STG_FACT_ORDENES",
	"properties": {
		"activities": [
			{
				"name": "EXTRACT DATA FACT ORDENES",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable Fecha Inicial",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Fecha_Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapHanaSource",
						"query": {
							"value": "SELECT DISTINCT\n\tA.VBELN AS CD_ORDEN_VENTA,\n\tA.POSNR AS CD_ORDEN_VENTA_DETALLE,\n\tB.ERDAT AS FECHA_ORDEN_VENTA,\n\tB.VDATU AS FECHA_ENTREGA,\t\n\tA.VKORG_ANA AS CD_ORG,\n\tCASE WHEN E.AUBEL IS NULL THEN CASE WHEN LENGTH(A.BZIRK_ANA) = 0 then G.GERENCIA else F.GERENCIA end else E.GERENCIA end AS CD_GERENCIA_VENTA,\n\tCASE WHEN E.AUBEL IS NULL THEN A.VKGRP_ANA else E.VKGRP END AS CD_ZONA,\n\tCASE WHEN E.AUBEL IS NULL THEN CASE WHEN LENGTH(A.BZIRK_ANA) = 0 then G.BZIRK else F.BZIRK end else E.RUTA end AS CD_RUTA,\n\tA.VTWEG_ANA AS CD_CANAL_DIST,\n\tA.WERKS AS CD_CENTRO_DISTRIB,\n\tB.KUNNR AS CD_CLIENTE,\n\tA.WAERK AS CD_MONEDA,\n\tA.STCUR AS MONTO_TASA_CAMBIARIA,\n\tA.MATNR AS CD_PRODUCTO,\n\tA.NETPR AS PRECIO_UNIT,\n\tA.KWMENG AS CANT_ITEMS,\n\tA.VOLUM AS VOLUMEN,\n\t0 AS DESCUENTO,\n\t0 AS MONTO_BONIFICACION,\t\n\tA.MWSBP AS ITBIS,\n\tA.NETWR AS MONTO_NETO,\n\tCASE WHEN E.AUBEL IS NULL THEN CASE WHEN LENGTH(A.BZIRK_ANA) = 0 then G.KUNNR_SUP else F.KUNNR_SUP end else C.KUNNR_SUP end AS CD_VENDEDOR_SUP,\n\tD.LADGR, \n\tA.AUART_ANA, \n\tABSTK, \n\tB.AUART,\n\tJ.MTART,\n    H.PARVW\t\nFROM  SAPHANADB.VBAP A\n\tINNER JOIN SAPHANADB.VBAK B ON \n\t\tB.MANDT = A.MANDT AND \n\t\tB.VBELN = A.VBELN \n\tLEFT JOIN (SELECT E.AUBEL, E.GERENCIA, E.FACT_ANULADA, E.RUTA, E.ORGANIZACION, E.VKGRP, AVG(E.CONVERSION_MONEDA) as CONVERSION_MONEDA FROM SAPHANADB.ZCDS_SD_INVOICE E \n\t\t\t\tGROUP BY E.AUBEL, E.GERENCIA, E.FACT_ANULADA, E.RUTA, E.ORGANIZACION, E.VKGRP ) E ON\n\t\tB.VBELN = E.AUBEL \n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA C ON\n\t\tC.MANDT = A.MANDT AND\n\t\tC.VKORG = A.VKORG_ANA AND\n\t\tC.BZIRK = E.RUTA \t    \n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA F ON\n\t\tF.MANDT = A.MANDT AND\n\t\tF.VKORG = A.VKORG_ANA AND\n\t\tF.BZIRK = A.BZIRK_ANA \t\t\n\tLEFT JOIN SAPHANADB.ZSDCO_PARA_RUTA G ON\t\n\t\tG.MANDT = A.MANDT AND\n\t\tG.VKORG = A.VKORG_ANA AND\n\t\tG.BZIRK = A.ROUTE \t\n\tLEFT JOIN SAPHANADB.MARC D ON\n\t\tD.MANDT = A.MANDT AND\n\t\tD.WERKS = A.WERKS AND\n\t\tD.MATNR = A.MATNR\t  \n\tLEFT JOIN (SELECT MANDT, VBELN, PARVW FROM SAPHANADB.VBPA WHERE vbpa.parvw = 'WE') H ON \n\t\tH.MANDT = B.MANDT AND\n\t\tH.VBELN = B.VBELN\n\tLEFT JOIN SAPHANADB.MARA J ON \n\t\tJ.MATNR = A.MATNR AND \n\t\tJ.MANDT = A.MANDT\nWHERE \n\tA.MANDT = '400'  AND \n\tLENGTH(A.MATNR) > 0 AND \n\tA.KUNNR_ANA <> A.ROUTE AND \n (( B.ERDAT BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')})  or ( B.VDATU BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}))",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_ORDEN_VENTA_ALL]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CD_ORDEN_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORDEN_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ORDEN_VENTA_DETALLE",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORDEN_VENTA_DETALLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FECHA_ORDEN_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_ORDEN_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FECHA_ENTREGA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_ENTREGA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ORG",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ZONA",
									"type": "String"
								},
								"sink": {
									"name": "CD_ZONA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_RUTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_RUTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_CANAL_DIST",
									"type": "String"
								},
								"sink": {
									"name": "CD_CANAL_DIST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_CENTRO_DISTRIB",
									"type": "String"
								},
								"sink": {
									"name": "CD_CENTRO_DISTRIB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_CLIENTE",
									"type": "String"
								},
								"sink": {
									"name": "CD_CLIENTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_MONEDA",
									"type": "String"
								},
								"sink": {
									"name": "CD_MONEDA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MONTO_TASA_CAMBIARIA",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_TASA_CAMBIARIA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "CD_PRODUCTO",
									"type": "String"
								},
								"sink": {
									"name": "CD_PRODUCTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRECIO_UNIT",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRECIO_UNIT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "CANT_ITEMS",
									"type": "Decimal"
								},
								"sink": {
									"name": "CANT_ITEMS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "VOLUMEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "VOLUMEN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "DESCUENTO",
									"type": "Int32"
								},
								"sink": {
									"name": "DESCUENTO",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MONTO_BONIFICACION",
									"type": "Int32"
								},
								"sink": {
									"name": "MONTO_BONIFICACION",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ITBIS",
									"type": "Decimal"
								},
								"sink": {
									"name": "ITBIS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "MONTO_NETO",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_NETO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "CD_VENDEDOR_SUP",
									"type": "String"
								},
								"sink": {
									"name": "CD_VENDEDOR_SUP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LADGR",
									"type": "String"
								},
								"sink": {
									"name": "LADGR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUART_ANA",
									"type": "String"
								},
								"sink": {
									"name": "AUART_ANA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ABSTK",
									"type": "String"
								},
								"sink": {
									"name": "ABSTK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUART",
									"type": "String"
								},
								"sink": {
									"name": "AUART",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MTART",
									"type": "String"
								},
								"sink": {
									"name": "MTART",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARVW",
									"type": "String"
								},
								"sink": {
									"name": "PARVW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SapHanaTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DST_STG_FACT_ORDEN_VENTA_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Busca Fechas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_ORDEN_VENTA'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MTD_MD_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable Fecha Inicial",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Ini",
					"value": {
						"value": "@activity('Busca Fechas').output.firstRow.FECHA_INICIAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Fecha_Final",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Fin",
					"value": {
						"value": "@activity('Busca Fechas').output.firstRow.FECHA_FINAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CARGAR STG FACT ORDEN VENTA",
				"type": "ExecuteSSISPackage",
				"dependsOn": [
					{
						"activity": "EXTRACT DATA FACT ORDENES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_ORDEN_VENTAS.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "GrupoRica-IRSSIS-Prod",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Basic"
				}
			}
		],
		"variables": {
			"Fecha_Ini": {
				"type": "Integer"
			},
			"Fecha_Fin": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "STG/FACT"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-25T17:30:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}