pipeline/STG_FACT_ORDENES_67.json
{
	"name": "STG_FACT_ORDENES_67",
	"properties": {
		"activities": [
			{
				"name": "EXTRACT DATA FACT ORDENES 67",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable Fecha Inicial",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Fecha_Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT DISTINCT\n\tA.VBELN AS CD_ORDEN_VENTA,\n\tA.POSNR AS CD_ORDEN_VENTA_DETALLE,\n\tB.ERDAT AS FECHA_ORDEN_VENTA,\n\tB.VDATU AS FECHA_ENTREGA,\t\n\tB.VKORG AS CD_ORG,\n\tF.BZIRK AS CD_ZONA,\n    A.ROUTE AS CD_RUTA,\n\tB.VTWEG AS CD_CANAL_DIST,\n\tB.VKBUR AS CD_CENTRO_DISTRIB,\n\t'-1' AS CD_GERENCIA_VENTA,\n\tB.KUNNR AS CD_CLIENTE,\n\tA.WAERK AS CD_MONEDA,\n\tA.STCUR AS MONTO_TASA_CAMBIARIA,\n\tA.MATNR AS CD_PRODUCTO,\n\tA.NETPR AS PRECIO_UNIT,\n\tA.KWMENG AS CANT_ITEMS,\n\tA.VOLUM AS VOLUMEN,\t\n\tA.MWSBP AS ITBIS,\n\tA.NETWR AS MONTO_NETO,\n\t0 AS DESCUENTO,\n\t0 AS BONIFICACION,\n\tF.BZIRK AS CD_VENDEDOR_SUP,\n    LADGR\n    ,'' AS AUART_ANA\n    ,'' ABSTK\n    ,AUART\n    ,'' AS MTART\n    ,PARVW\n \nFROM  SAPSR3.VBAP A\n\tINNER JOIN SAPSR3.VBAK B ON \n\t\tB.MANDT = A.MANDT AND \n\t\tB.VBELN = A.VBELN \n\n LEFT JOIN (SELECT E.VBELN ,F.VBELV ,E.FKIMG ,F.RFMNG,E.VKGRP,E.KURSK,G.BZIRK,F.VBTYP_V, G.VKORG, G.VTWEG, T.RUTA\n            FROM SAPSR3.VBRP E\n                JOIN SAPSR3.VBFA F ON\n                    F.VBELN=E.VBELN\n                    AND F.POSNN=E.POSNR\n                    \n                JOIN  SAPSR3.VBRK G ON\n                    G.VBELN=E.VBELV\n\n\t\t\t\t\tJOIN SAPSR3.ZVENTAS_GENERAL T ON\n\t\t\t\t\tT.NO_FACTURA=E.VBELN\n            ) E ON\n                B.VBELN = E.VBELV\n\tLEFT JOIN SAPSR3.KNVV F ON\n\t\tF.KUNNR = B.KUNNR\n\tLEFT JOIN SAPSR3.MARC D ON\n\t\tD.MANDT = A.MANDT AND\n\t\tD.WERKS = A.WERKS AND\n\t\tD.MATNR = A.MATNR\t  \n\tLEFT JOIN (SELECT MANDT, VBELN, PARVW FROM SAPSR3.VBPA WHERE vbpa.parvw = 'WE') H ON \n\t\tH.MANDT = B.MANDT AND\n\t\tH.VBELN = B.VBELN\nWHERE \n\tA.MANDT = '400'  AND \n\tLENGTH(A.MATNR) > 0 AND \n\tB.KUNNR <> A.ROUTE AND \n (( B.ERDAT BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')})  or ( B.VDATU BETWEEN @{variables('Fecha_Ini')}  AND @{variables('Fecha_Fin')}))",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [gr01].[STG_FACT_ORDEN_VENTA_ALL]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CD_ORDEN_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORDEN_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ORDEN_VENTA_DETALLE",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORDEN_VENTA_DETALLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FECHA_ORDEN_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_ORDEN_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FECHA_ENTREGA",
									"type": "String"
								},
								"sink": {
									"name": "FECHA_ENTREGA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ORG",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_ZONA",
									"type": "String"
								},
								"sink": {
									"name": "CD_ZONA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_RUTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_RUTA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_CANAL_DIST",
									"type": "String"
								},
								"sink": {
									"name": "CD_CANAL_DIST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_CLIENTE",
									"type": "String"
								},
								"sink": {
									"name": "CD_CLIENTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CD_MONEDA",
									"type": "String"
								},
								"sink": {
									"name": "CD_MONEDA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MONTO_TASA_CAMBIARIA",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_TASA_CAMBIARIA",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CD_PRODUCTO",
									"type": "String"
								},
								"sink": {
									"name": "CD_PRODUCTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRECIO_UNIT",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRECIO_UNIT",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CANT_ITEMS",
									"type": "Decimal"
								},
								"sink": {
									"name": "CANT_ITEMS",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "VOLUMEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "VOLUMEN",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "DESCUENTO",
									"type": "Double"
								},
								"sink": {
									"name": "DESCUENTO",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BONIFICACION",
									"type": "Double"
								},
								"sink": {
									"name": "MONTO_BONIFICACION",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ITBIS",
									"type": "Decimal"
								},
								"sink": {
									"name": "ITBIS",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "MONTO_NETO",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_NETO",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "CD_VENDEDOR_SUP",
									"type": "String"
								},
								"sink": {
									"name": "CD_VENDEDOR_SUP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LADGR",
									"type": "String"
								},
								"sink": {
									"name": "LADGR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUART_ANA",
									"type": "String"
								},
								"sink": {
									"name": "AUART_ANA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ABSTK",
									"type": "String"
								},
								"sink": {
									"name": "ABSTK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUART",
									"type": "String"
								},
								"sink": {
									"name": "AUART",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MTART",
									"type": "String"
								},
								"sink": {
									"name": "MTART",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARVW",
									"type": "String"
								},
								"sink": {
									"name": "PARVW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "STG_SUGERIDO_67",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DST_STG_FACT_ORDEN_VENTA_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Busca Fechas 67",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_FACT_ORDEN_VENTA'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MTD_MD_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable Fecha Inicial",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas 67",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Ini",
					"value": {
						"value": "@activity('Busca Fechas 67').output.firstRow.FECHA_INICIAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Fecha_Final",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas 67",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Fin",
					"value": {
						"value": "@activity('Busca Fechas 67').output.firstRow.FECHA_FINAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CARGAR STG FACT ORDEN VENTA 67",
				"type": "ExecuteSSISPackage",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "EXTRACT DATA FACT ORDENES 67",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "GrupoRicaBIComercial/TDE_GR01 - VENTAS/STG_FACT_ORDEN_67.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "GrupoRica-IRSSIS-Dev",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Basic"
				}
			}
		],
		"variables": {
			"Fecha_Ini": {
				"type": "Integer"
			},
			"Fecha_Fin": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "STG/FACT"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-20T23:44:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}