pipeline/STG_REL_PRESUPUESTO_67.json
{
	"name": "STG_REL_PRESUPUESTO_67",
	"properties": {
		"activities": [
			{
				"name": "EXTRACT DATA PRESUPUESTO 67",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable Fecha Inicial",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Fecha_Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT \n    A.RUTA,\n    A.MATNR AS PRODUCTO,\n    A.VKORG AS ORGANIZACION,\n    A.PERIODO, '-1' AS CD_GERENCIA_VENTA,\n    A.PRESUP_UND AS  CANTIDAD_ITEMS_PRESUPUESTO,\n    A.PRESUP_PES AS MONTO_PRESUPUESTO,\n    A.VTWEG AS CD_CANAL_DISTRIBUCION\nFROM SAPSR3.ZPRESUPUEST_RUTB A\nWHERE PERIODO BETWEEN LPAD(@{variables('Fecha_Ini')},6)  AND LPAD(@{variables('Fecha_Fin')},6 )",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [gr01].[STG_REL_PRESUPUESTO_VENTA_ALL]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RUTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_RUTA_DISTRIBUCION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRODUCTO",
									"type": "String"
								},
								"sink": {
									"name": "CD_PRODUCTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ORGANIZACION",
									"type": "String"
								},
								"sink": {
									"name": "CD_ORGANIZACION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PERIODO",
									"type": "String"
								},
								"sink": {
									"name": "CD_PERIODO_PRESUPUESTO_VENTA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CD_GERENCIA_VENTA",
									"type": "String"
								},
								"sink": {
									"name": "CD_GERENCIA_VENTAS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CD_CANAL_DISTRIBUCION",
									"type": "String"
								},
								"sink": {
									"name": "CD_CANAL_DISTRIBUCION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CANTIDAD_ITEMS_PRESUPUESTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "CANTIDAD_ITEMS_PRESUPESTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "MONTO_PRESUPUESTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO_NETO_DE_VENTA_PRESUPESTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 20
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "STG_FUENTES_67",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DST_STG_REL_PRESUPUESTO_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Busca Fechas 67",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [NM_ENTIDAD]\n      ,cast(FORMAT([FC_INI_CARGA] ,'yyyyMMdd') as INT) as FECHA_INICIAL\n      ,cast(FORMAT([FC_FIN_CARGA] ,'yyyyMMdd') as INT)  as FECHA_FINAL\nFROM [dbo].[MD_CONTROL]\nWHERE NM_ENTIDAD = 'STG_REL_PRESUPUESTO_VENTA_67'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MTD_MD_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable Fecha Inicial",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas 67",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Ini",
					"value": {
						"value": "@activity('Busca Fechas 67').output.firstRow.FECHA_INICIAL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Fecha_Final",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Busca Fechas 67",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha_Fin",
					"value": {
						"value": "@activity('Busca Fechas 67').output.firstRow.FECHA_FINAL",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Fecha_Ini": {
				"type": "Integer"
			},
			"Fecha_Fin": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "STG/REL"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-20T23:44:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}